<h1 class="font-bold text-5xl mb-16">Your appointments</h1>

<div class="overflow-x-auto">
  <table class="table">
    <thead>
    <tr>
      <th></th>
      <th>Doctor</th>
      <th>Status</th>
      <th>Date</th>
    </tr>
    </thead>
    <tbody>

    <% @appointments.each_with_index do |appointment, i| %>
      <tr>
        <th><%= i %></th>
        <td><%= appointment.doctor.full_name %></td>
        <td><%= appointment.status %></td>
        <td><%= appointment.created_at %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
